<header class="header" id="header" th:fragment="headerFragment(menuInfoList)">

<!--메뉴바 추가 부분-->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="/main">Moyeo Haeng</a>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" th:each="menuInfo : ${menuInfoList}">
        <a class="nav-link dropdown-toggle" href="#" id="navBar01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${menuInfo.menuName}"></a>
        <div class="dropdown-menu" aria-labelledby="navBar01">
          <a class="dropdown-item" th:each="childrenInfo : ${menuInfo.children}" th:href="@{${childrenInfo.menuUrl}}" th:text="${childrenInfo.menuName}"></a>
        </div>
      </li>
    </ul>
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>

    <button type="button" class="btn btn-outline-primary">Logout</button>
  </div>
</nav>

</header>