<header class="header" id="header" th:fragment="headerFragment">

<!--메뉴바 추가 부분-->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Moyeo Hang</a>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navBar01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">회원관리</a>
        <div class="dropdown-menu" aria-labelledby="navBar01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navBar02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">상품관리</a>
        <div class="dropdown-menu" aria-labelledby="navBar02">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navBar03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">예약관리</a>
        <div class="dropdown-menu" aria-labelledby="navBar03">
          <a class="dropdown-item" href="/reservation/initReservation">예약조회</a>
          <a class="dropdown-item" href="#">환불관리</a>
          <a class="dropdown-item" href="#"></a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navBar04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">결제관리</a>
        <div class="dropdown-menu" aria-labelledby="navBar04">
          <a class="dropdown-item" href="#">결제수단관리</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navBar05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">이벤트관리</a>
        <div class="dropdown-menu" aria-labelledby="navBar05">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navBar06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">정산관리</a>
        <div class="dropdown-menu" aria-labelledby="navBar06">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navBar07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">시스템관리</a>
        <div class="dropdown-menu" aria-labelledby="navBar07">
          <a class="dropdown-item" href="#">공통코드관리</a>
          <a class="dropdown-item" href="#">메뉴관리</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>

    <button type="button" class="btn btn-outline-primary">Logout</button>
  </div>
</nav>

</header>