<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Sample</title>

</head>

<body>
    <div class="container">
        <th:block th:with="code =${CommonCodeReq.builder().id('statCd').commonGroupCdId('DS0001').defaultOption('false').build()}"> <!-- code =${CommonCodeReq.builder().id('statCd').commCd('ST0001').build()} -->
            <span th:replace="common/fragments/CodeCheckBox :: combo(${@commonUtil.createElement(code)})"></span>
        </th:block>

        <h3>-----------------------------</h3>

        <th:block th:with="code =${CommonCodeReq.builder().id('chnlCd').commonGroupCdId('ST0001').build()}"> <!-- code =${CommonCodeReq.builder().id('statCd').commCd('ST0001').build()} -->
            <span th:replace="common/fragments/CodeCheckBox :: combo(${@commonUtil.createElement(code)})"></span>
        </th:block>

    </div>

</body>

</html>