<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/common/layout/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <div id="contents">
        <section>
            <h3 class="text-left">
            <span>
                <i class="fa-solid fa-circle fa-xs"></i></span>메뉴조회
                <span>
              <div class="float-right">
            <button type="button" class="btn btn-primary">조회</button>
            <button type="button" class="btn btn-primary">초기화</button>
              </div>
          </span>
            </h3>

            <!--SEARCH -->
            <form id="searchForm" name="searchForm">
                <fieldset>
                    <div id="search_reservation">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th class="table-active">
                                    <span>
                                        <label th:for="revNo">메뉴명</label>
                                    </span>
                                </th>
                                <td>
                                    <span>
                                        <input type="text" id="revNo" readonly>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </form>
        </section>
        <!-- GRID -->
        <section>
            <div id="menuListGrid"></div>
        </section>
    </div>
</th:block>
</body>
</html>
<script th:src="@{/js/menu/menuList.js}"></script>